/**LAYOUT*/
header{
    background-color:#cdc6bc;;
}
.conteiner{
    display: flex;
    width: 1200px;
    justify-content: space-between;

    

}
.figureAside{
    display: flex;
    justify-content: center;
    

}

/**Generales*/
*{
    font-family: 'Roboto Light', sans-serif;
}
h2{
    text-align: center;
    border-bottom: 2px solid black;
    color: green;
    letter-spacing: 3px;
}

/**Barra de navegacion y encabezado*/
header{
    display: flex;
    justify-content: start;
}
nav {
    justify-content:space-between;  
}


a{
    margin-right: 20px ;
    font-size:24px;
    color: black;
    text-decoration: none;
}
nav ul{
    list-style: none;
}
a:hover{
    color:white;
}

/**Barra lateral*/
#msj{
    padding: 3px 3px;
    
}
aside{
    padding: 3px 3px;
    width: 30%;
    border: solid gray;
    background-color: lightgray;
}

figcaption{
   font-size: 1.5rem;
}
img{
    border-radius: 50%;
}
aside ul{
    list-style: none;
}
aside ul li i {
    padding: 18px 16px;
}

/**Main */
main{
    margin-left: 5%;
}
/**Pie de página*/
footer section {
    padding: 3em 1em;
    background-color:#cdc6bc;

}
/** Formulario */

.EnvioCorreo{
    margin: 3px;
    border:green solid;
    display: flex;
    justify-content: center;
    padding: 6px 6px;
}
#btnEnviar{
    padding: 10px 10px;
}
/**--------------Puntos de quiebre--------------------*/
@media (max-width: 375px){
    /**Barra de navegacion*/
    a{
        font-size: 32px;
    }
    #msj{
        width: 200px
    }
    /**Barra lateral*/
    aside ul{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    aside{
        width: 93.5%;
    }
    
    .conteiner{
        flex-direction: column;
    }
    /**Seccion principal*/
    main{
        margin: 0%;
    }
    /**Pie de pagina*/
    footer section {
        display: flex;
        flex-direction: column;
    }

}
@media (max-width: 1200px){
    /**Barra de navegacion*/
    a{
        font-size: 28px;
    }
    
    
    #msj{
        width: 300px;
    }
    /**Barra lateral*/
    aside{
        width: 98%;
    }
    .conteiner{
        flex-direction: column;
    }
    /**Seccion principal*/
    main{
        margin: 0%;
    }
}

